
<div class="row">
    <div class="col col-lg-12">
        <hr>
        <h4 style ="text-align: center;" class="bg-danger p-3">Place Appointment</h4>
        <hr>
        <form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
            <div class="form-row">
                
                <div class="col col-lg-3">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" pattern="[a-zA-z]+" name="fname" ngModel required>
                </div>
                <div class="col col-lg-3">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" pattern="[a-zA-z]+"  name="lname" ngModel required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" email
                    aria-describedby="emailHelp" name="email" ngModel required>
                </div>
                <div class="col col-lg-3">
                    <label for="phonenumber">Phone Number</label>
                    <input type="text" class="form-control" name="phone" pattern='^([9]|[8])[1-9]{9}' ngModel required>
                </div>
                <div class="col col-lg-2">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" min='18' max='60' name="age" ngModel required>
                </div>
            </div>
            
            <div class="form-row">
                
                <div class="form-group col-lg-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control"
                     id="inputAddress" name="address" ngModel required>
                </div>
                    
                <div class="form-group col-lg-3">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city" ngModel required>
                </div>
                <div class="form-group col-lg-2">
                    <label for="inputZip">Zip Code</label>
                    <input type="text" class="form-control" id="inputZip" pattern='\d{6}' maxlength="6" name="zip" ngModel required>
                </div>
            </div>

            <div class="form-row">
                
                <div class="form-group col-lg-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" 
                     name="state" ngModel required>
                </div>
                    
                <div class="form-group col-lg-4">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" ngModel required>
                </div>
    
            </div>
        
            <div>
                <label for="trainerpref">Trainer Preference:</label>
            </div>
            <div class="form-row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio1" value="Male" ngModel required>
                    <label class="form-check-label" for="inlineRadio1" >Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio2" value="Female" ngModel required>
                    <label class="form-check-label" for="inlineRadio2" >Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio3" value="No-preference" ngModel required>
                    <label class="form-check-label" for="inlineRadio3" required>No Preference</label>
                  </div>
            </div>
            <br>
            <div>
                <label for="physiotherapist">Do you need a Physiotherapist:</label>
            </div>
            <div class="form-row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="physio" id="inlineRadio2.1" value="Yes" ngModel required>
                    <label class="form-check-label" for="inlineRadio2.1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="physio" id="inlineRadio2.2" value="No" ngModel required>
                    <label class="form-check-label" for="inlineRadio2.2">No</label>
                </div>
            </div>

            <br>
            <div>
                <label for="package">Select a Package:</label>
            </div>
            <div class="form-row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" 
                    type="radio" name="package" id="inlineRadio3.1" 
                    value="1 Session" (click)="calculateAmt(1)" ngModel required>
                    <label class="form-check-label" for="inlineRadio3.1">1 Session (Rs.500/-)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" 
                    type="radio" name="package" id="inlineRadio3.2" 
                    value="4 Sessions" (click)="calculateAmt(2)"  ngModel required>
                    <label class="form-check-label" for="inlineRadio3.2">4 Sessions (Rs.400/- per session)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" 
                    type="radio" name="package" id="inlineRadio3.3" 
                    value="5 Sessions" (click)="calculateAmt(3)"  ngModel required>
                    <label class="form-check-label" for="inlineRadio3.3">5 Sessions (Rs.300/- per session)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" 
                    type="radio" name="package" id="inlineRadio3.4" 
                    value="Other" (click)="calculateAmt(0)" ngModel required>
                    <label class="form-check-label" for="inlineRadio3.4">Enter Number of Sessions:</label>
                    <input type="number" min="1" 
                    class="form-control col-lg-3" 
                    name="other"
                    [disabled]="!(f.value.package == 'Other')" ngModel required>
                </div>
            </div>
            <hr>
            <div class="form-row bg-warning p-2">
                <p>Total Payable Amount: <span><strong>{{amount}}{{text}}</strong></span></p>
            </div>
            <hr>
            <div class="form-row ">
                <button type="submit" class="btn btn-success mx-auto" [disabled]="!f.valid">Submit Appointment</button>
            </div>
        </form>
        <hr>
    </div>
</div>
