<div class="row">
    <div class="col col-lg-12">
        <hr>
        <h4 style ="text-align: center;" class="bg-success p-3">Contact Us</h4>
        <hr>
        <div style="width: 100%;margin-left: 300px;">
        <form (ngSubmit) = "onContactSubmit(cform)" #cform = "ngForm">
            <div class="form-row">
                
                <div class="col col-lg-3">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control"  name="fname" ngModel required> 
                </div>
                <div class="col col-lg-3">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control"  name="lname" ngModel required>
                </div>
            </div>
            <br>
            <div class="form-row ">
                <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" email
                    aria-describedby="emailHelp" name="email" ngModel required>
                </div>
                <div class="col col-lg-3">
                    <label for="phonenumber">Phone Number</label>
                    <input type="text" class="form-control" name="phone" pattern='^[9][1-9]{9}' ngModel required>
                </div>
            </div>
            <div class="form-row ">
                <button type="submit" class="btn btn-primary" style="margin-left: 22%;" [disabled]="!cform.valid">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>