<div class="row">
    <div class="col">

        <div class="ml-5 mt-2">
            <h3>Trainer Preference:</h3>
        </div>  
        <form #trainerForm = "ngForm">
            <div class="form-row ml-5 mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio1" value="Male" ngModel required>
                    <label class="form-check-label" for="inlineRadio1" >Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio2" value="Female" ngModel required>
                    <label class="form-check-label" for="inlineRadio2" >Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                    name="gender" id="inlineRadio3" value="No-preference" ngModel required>
                    <label class="form-check-label" for="inlineRadio3" required>No Preference</label>
                  </div>
                  
            </div>
        </form>
        
    </div>
</div>



<div class=" row mt-4">
    <div class="col-lg-10 mx-auto">
    
        <table class="table">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">Trainer Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr *ngFor="let trainer of trainers">
                        <ng-template [ngIf]="trainer.gender == trainerForm.value.gender">
                            <td>{{trainer.name}}</td>
                            <td>{{trainer.gender}}</td>
                            <td>{{trainer.phone}}</td>
                         </ng-template>
                         <ng-template [ngIf]="trainerForm.value.gender == 'No-preference'">
                            <td>{{trainer.name}}</td>
                            <td>{{trainer.gender}}</td>
                            <td>{{trainer.phone}}</td>
                         </ng-template>
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>
