<div class="container-fluid">
  <div>
    <img class="border-dark rounded-circle" src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-gym-logo-png-image_5149987.jpg" 
    style="width: 100px;display: inline;"/>
    <h1 style="display: inline;" class="p-1 ">Vyam<span class='badge badge-warning badge-pill'>Shala</span></h1>    
  </div>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active mr-3">
              <a class="nav-link text-light " routerLinkActive="active" routerLink="/landing">Home</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link text-light " routerLinkActive="active" routerLink="/place-app">Place Appointment</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link text-light" routerLinkActive="active" routerLink="/view-app">View Appointment</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link text-light" routerLinkActive="active" routerLink="/search">Search Trainer</a>
            </li>
            
            <li class="nav-item float-right">
                <a class="nav-link text-light " routerLinkActive="active" routerLink="/contactus">Contact Us</a>
            </li>
            
          </ul>
        </div>
      </nav>
</div>
<div class="sidenav float-left">
    <a class="nav-link bg-primary text-light mb-4" routerLinkActive="active" routerLink="/landing">Home</a>
    <a class="nav-link bg-primary text-light mb-4" routerLinkActive="active" routerLink="/place-app">Place Appointment</a>
    <a class="nav-link bg-primary text-light mb-4" routerLinkActive="active" routerLink="/view-app">View Appointment</a>
    <a class="nav-link bg-primary text-light mb-4" routerLinkActive="active" routerLink="/search">Search Trainer</a>
    <a class="nav-link bg-primary text-light mb-4" routerLinkActive="active" routerLink="/contactus">Contact Us</a>
  </div>

